body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.sr-only {
  display: none !important;
}

.small-now-playing {
  background-color: white;
  z-index: 500;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 90px;
}

.small-now-playing .song-title {
  width: Calc( 85% - 60px );
  padding: 10px;
}
.small-now-playing .play-pause-button {
  display: flex;
  float: left;
  width: 60px;
}

.play-control {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding-bottom: 10px;
  height: 130px;
}
.song-title {
  padding: 0px 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.play-control .song-title {
  padding: 0px 12px;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.material-icons {
  width: 30px;
}
.side-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.now-playing-container {
  display: flex;
  padding: 15px;
}
.now-playing-container .song-name {
  padding: 5px;
  padding-left: 10px;
  flex: 1;
  color: #333333;
  line-height: 1.7rem;
}
.now-playing-container button {
  border: none;
  background-color: transparent;
}